* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    user-select: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
}

.countdown-container {
    text-align: center;
}

/* -----timer----- */
.countdown-container {
    text-align: center;
}

.timer {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    visibility: hidden;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

button {
    padding: 8px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:focus {
    outline: none;
}

/* ---timer-end---- */
.cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.card-container4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(160px * 2);
}

.card-container16 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(160px * 4);
}

.card-container40 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: calc(160px * 8);
}

.card {
    width: 150px;
    height: 150px;
    perspective: 800px;
    margin: 10px;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.front>img,
.back>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.front {
    transform: rotateY(0deg);
}

.back {
    background-color: #3498db;
    transform: rotateY(180deg);
}

.card.flip .front {
    transform: rotateY(-180deg);
}

.card.flip .back {
    transform: rotateY(0deg);
}