* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    user-select: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
}

.countdown-container {
    text-align: center;
}

/* .page-container {
    width: calc(170px * 8);
    height: 100%;
    overflow: visible;
    background-color: #f0f0f0;
} */

/* -----timer----- */
.countdown-container {
    text-align: center;
    position: fixed;
    z-index: 120;
    width: 100%;
    height: auto;
    background-color: #fff;
    opacity: 0.85;
}

.timer {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    visibility: hidden;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

button {
    padding: 8px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:focus {
    outline: none;
}

/* ---timer-end---- */

.cards-section {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    width: 100%;
}

.card-container4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: calc(95px * 2);
    justify-items: center;
}

.card-container16 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(95px * 4);
    justify-items: center;
}

.card-container36 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(95px * 4);
    justify-items: center;
}

.card {
    width: 90px;
    height: 90px;
    perspective: 800px;
    margin: 2.5px;
    transform-style: preserve-3d;
    cursor: pointer;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.front>img,
.back>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.front {
    transform: rotateY(0deg);
}

.back {
    background-color: #3498db;
    transform: rotateY(180deg);
}

.card.flip .front {
    transform: rotateY(-180deg);
}

.card.flip .back {
    transform: rotateY(0deg);
}

@media (min-width: 576px) {
    .card-container4 {

        grid-template-columns: repeat(2, 1fr);
        width: calc(130px * 2);
    }

    .card-container16 {

        grid-template-columns: repeat(4, 1fr);
        width: calc(130px * 4);
    }

    .card-container36 {
        grid-template-columns: repeat(4, 1fr);
        width: calc(130px * 4);
    }

    .card {
        width: 124px;
        height: 124px;
        margin: 3px;
    }
}

@media (min-width: 768px) {
    .card {
        width: 140px;
        height: 140px;
        margin: 10px;
    }

    .card-container4 {
        grid-template-columns: repeat(2, 1fr);
        width: calc(160px * 2);
    }

    .card-container16 {
        grid-template-columns: repeat(4, 1fr);
        width: calc(160px * 4);
    }

    .card-container36 {
        grid-template-columns: repeat(4, 1fr);
        width: calc(160px * 4);
    }
}

@media (min-width: 992px) {
    .card {
        width: 140px;
        height: 140px;
        margin: 10px;
    }

    .card-container4 {
        grid-template-columns: repeat(2, 1fr);
        width: calc(160px * 2);
    }

    .card-container16 {
        grid-template-columns: repeat(4, 1fr);
        width: calc(160px * 4);
    }

    .card-container36 {
        grid-template-columns: repeat(6, 1fr);
        width: calc(160px * 6);
    }
}

@media (min-width: 1200px) {
    .card {
        width: 150px;
        height: 150px;
        margin: 10px;
    }

    .card-container4 {
        grid-template-columns: repeat(2, 1fr);
        width: calc(170px * 2);
    }

    .card-container16 {
        grid-template-columns: repeat(4, 1fr);
        width: calc(170px * 4);
    }

    .card-container36 {
        grid-template-columns: repeat(6, 1fr);
        width: calc(170px * 6);
    }
}

@media (min-width: 1440px) {
    .card-container36 {
        grid-template-columns: repeat(9, 1fr);
        width: calc(170px * 9);
    }
}